* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://cdn.pixabay.com/photo/2021/04/13/09/46/river-6175173__340.jpg")
      center/cover;
}
.app_body {
  position: absolute;
  padding: 2em;
  width: 50%;
  border-radius: 12px;
  background: whitesmoke;
  box-shadow: 10px 10px 14px #000;
  color: #333;
}

.quote {
  font-size: 30px;
  font-weight: 600;
}
.App hr {
  margin-top: 20px;
  margin-bottom: 5px;
  border: none;
  border-top: 2px solid rgb(235, 235, 235);
}
.quote_author {
  text-align: right;
}
.author {
  font-style: italic;
  font-weight: 600;
}

.app_body button {
  position: relative;
  top: 10px;
  margin-top: 5px;
  cursor: pointer;
  outline: none;
  border: 1px solid rgb(22 160 255);
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 20px;
  font-weight: 600;
  color: #333;
  background-color: rgb(227, 242, 248);
}
.app_body button:hover {
  box-shadow: 0 0 8px #ccc;
}
.img {
  width: 19px;
  height: 19px;
  margin-left: 5px;
}
.img1 {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.btn-content {
  display: flex;
  align-items: center;
}
.no_quote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #333;
}
.img1_btn {
  position: relative;
  top: 0 !important;
  margin-top: 0 !important;
}

@media screen and (max-width: 1100px) {
  .app_body {
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  .app_body {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .no_quote {
    flex-direction: column;
  }
  .text {
    margin-bottom: 10px;
    flex-direction: column;
  }
}
